<!-- <button><a href="get-list-user">Click For Get List Users Api</a> </button><br><br>
<button><a href="single-user">Click For Single User Api</a></button><br>
<button><a href="single-user-not-found">Click For Single User Not Found Api</a></button><br>
<button><a href="get-list-resource">Click For Get List Resource Api</a></button><br>
<button><a href="get-single-resource">Click For Get Single Resource Api</a></button><br>
<button><a href="single-resource-not-found">Click For Get Single Resource Not Found Api</a></button><br>
<button><a href="post-data-api">Click For Post Data Api</a></button><br>
<button><a href="put-update-api">Click For Put Data Api</a></button><br>
<button><a href="patch-update-api">Click For Patch Data Api</a></button><br>
<button><a href="delete-api">Click For Patch Data Api</a></button><br>
<button><a href="post-registration-api">Click For Post Registration Api</a></button><br>
<button><a href="post-register-unsucessfull-api">Click For Post Registration Unsucessfull Api</a></button><br>
<button><a href="post-login-successfull">Click For Login Successfull Api</a></button><br>
<button><a href="post-login-unsuccessfull">Click For Login Unsuccessfull Api</a></button><br>
<button><a href="get-delayed-response-api">Click For Delayed Api</a></button><br> -->
<!-- Load font awesome icons -->


<!-- The navigation menu -->
<div class="navbar">
  <a href="#">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Get Api <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="get-list-user">List Users</a>
      <a href="single-user">Single User</a>
      <a href="single-user-not-found">Single User Not Found</a>
      <a href="get-list-resource">List Resource</a>
      <a href="get-single-resource">Single Resource</a>
      <a href="get-delayed-response-api">Delayed Response</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Post Api <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="post-data-api">Post Data</a>
      <a href="post-registration-api">Post Registration</a>
      <a href="post-register-unsucessfull-api">Post Registration Unsucessfull</a>
      <a href="post-login-successfull">Login Successfull</a>
      <a href="post-login-unsuccessfull">Login Unsuccessfull</a>
    </div>
    </div>
  <a href="put-update-api">Put Api</a>
  <a href="patch-update-api">Patch Api</a>
  <a href="delete-api">Delete Api</a>
</div>

    











<router-outlet></router-outlet>